body {
    background-color: rgb(119, 34, 180);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

#title {
    margin: 0px;
    padding: 10px;
    font-family: "fredoka one", sans-serif;
    width: 40%;
    border-radius: 30%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: black;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 10px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid rgb(242, 243, 229);
}

main > div > aside {
    color: white;
    background-color: black;
    padding: 1vh;
    margin: 0px;
}

body > main article {
    width: 3vh;
    padding: 10px;
    border: 20px;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

#main-content > div {
    width: 3vh;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: olivedrab;
}

img {
    border-radius: 40%;
}